img {
    height: 50px;
    width: auto;
}

.card{
    background-color:whitesmoke;
    margin:30px;
    padding-bottom: 10px;
    padding-left: 5px;   
}

#icone{
    text-align: center;
}

#header{
    background-color: whitesmoke;
    margin: 30px;
}

